</script>
<table class="table is-fullwidth">
    <thead>
        <th>Park Name</th>
        <th>Rating</th>
        <th>Latitude </th>
        <th>Longitude </th>
        <th>User</th>
        <th>County </th>
    </thead>
    <tbody>
     {{#each park}}
      <tr>
        <td>{{parkName}}</td>
        <td>{{rating}}</td>
        <td>{{lat}}</td>
        <td>{{lng}}</td>
        <td> {{user.firstName}} {{user.lastName}} </td>
        <td>{{county.countyFirst}}{{county.countySecond}}</td>
      </tr>
     {{/each}}
    </tbody>
</table>